@font-face {
    font-family: 'Commodore-PET';
    src:url('/fonts/Commodore-PET.ttf.woff') format('woff'),
        url('/fonts/Commodore-PET.ttf.svg#Commodore-PET') format('svg'),
        url('/fonts/Commodore-PET.ttf.eot'),
        url('/fonts/Commodore-PET.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DotMatrix-Regular';
    src:url('/fonts/DotMatrix-Regular.ttf.woff') format('woff'),
        url('/fonts/DotMatrix-Regular.ttf.svg#DotMatrix-Regular') format('svg'),
        url('/fonts/DotMatrix-Regular.ttf.eot'),
        url('/fonts/DotMatrix-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'game-powerRegular';
    src:url('/fonts/game-powerRegular.ttf.woff') format('woff'),
        url('/fonts/game-powerRegular.ttf.svg#game-powerRegular') format('svg'),
        url('/fonts/game-powerRegular.ttf.eot'),
        url('/fonts/game-powerRegular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/*

DSEG7Modern-Bold.ttf
DSEG7Modern-Bold.woff
DSEG7Modern-Bold.woff2
DSEG7Modern-BoldItalic.ttf
DSEG7Modern-BoldItalic.woff
DSEG7Modern-BoldItalic.woff2
DSEG7Modern-Italic.ttf
DSEG7Modern-Italic.woff
DSEG7Modern-Italic.woff2
DSEG7Modern-Light.ttf
DSEG7Modern-Light.woff
DSEG7Modern-Light.woff2
DSEG7Modern-LightItalic.ttf
DSEG7Modern-LightItalic.woff
DSEG7Modern-LightItalic.woff2
DSEG7Modern-Regular.ttf
DSEG7Modern-Regular.woff
DSEG7Modern-Regular.woff2

*/

@font-face {
    font-family: 'DSEG7-Modern-Regular';
    src:url('/fonts/DSEG7-Modern/DSEG7Modern-Regular.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

/*
DSEG7-Classic/
DSEG7Classic-Bold.ttf
DSEG7Classic-Bold.woff
DSEG7Classic-Bold.woff2
DSEG7Classic-BoldItalic.ttf
DSEG7Classic-BoldItalic.woff
DSEG7Classic-BoldItalic.woff2
DSEG7Classic-Italic.ttf
DSEG7Classic-Italic.woff
DSEG7Classic-Italic.woff2
DSEG7Classic-Light.ttf
DSEG7Classic-Light.woff
DSEG7Classic-Light.woff2
DSEG7Classic-LightItalic.ttf
DSEG7Classic-LightItalic.woff
DSEG7Classic-LightItalic.woff2
DSEG7Classic-Regular.ttf
DSEG7Classic-Regular.woff
DSEG7Classic-Regular.woff2
*/
@font-face {
    font-family: 'DSEG7Classic-Regular';
    src:url('/fonts/DSEG7-Classic/DSEG7Classic-Regular.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}
