/* 
    Created on : 11.05.2017
    Author     : dirk
*/

@import 'fonts.css';

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 18px Helvetica, Arial; background-color: slategrey; }

#controls { 
	position: absolute;
    bottom: 0;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 3% 0;
    width: 100%;
}

#controls li { 
	display: inline-block;
    margin: 0;
    padding: .5% 3%;
    width: 19%;
}

#controls li a { 
	display: block;
    text-align: center;
    width: 5em;
    background-color: orange;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 0.1em;
}

.messages { 
	position: absolute;
	top: .5em;
	list-style-type: none; 
	margin: 0.5%; 
	padding: 0.5%; 
	overflow: hidden;

}
.messages li { padding: 5px 10px; }
/*.messages li:nth-child(odd) { background: #eee; }*/

ol.messages {list-style-type: decimal; padding: 5px 0 5px 3em;}

#commandEcho { font-size: 0.7em; height: 3em; left: 0;}

#QueueHistory, #QueueHistoryBackground { 
	font-family: 'DSEG7Classic-Regular';
    height: 5em;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0%;
    font-size: 3em;
}

#QueueHistoryBackground {
    color: rgba(0,0,0,.07);
}


#watchContainer {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	border-top: 20px solid rgba(173,216,230, .9);
}

#watch, #watchBackground { 
	position: absolute;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 14rem;
    font-family: 'DSEG7Classic-Regular';
    text-decoration: none;
    padding: 0.3em 0;
}
#watchBackground { 
    background-color: #add8e6;
    color: rgba(250,250,250,.2);
}
